[run]
omit = ./*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing main
    def main

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    
    # Don't complain if defensive EOF conditions aren't reached
    if not k and True:
    
show_missing = True

